/*
  Copyright &#169; 2012 Accenture - Prepared by Digiplug
 */
html {
  font-family: "Helvetica Neue", Helvetica;
  font-size: 11px;
}

input[type="button"], button {
  cursor: pointer;
}

img.digiplugLogo {
  float: right;
}

.colmask {
  position:relative;
  clear:both;
  float:left;
  width:100%;
  overflow:hidden;
  border-radius: 5px;
  border: 2px solid #BFCACF;
}

.colright,
.colmid,
.colleft {
  float:left;
  width:100%;
  position:relative;
}

.colleft {
  margin-top: 2px;
}

.col1,
.col2,
.col3 {
  float:left;
  position:relative;
  padding:0 0 1em 0;
  overflow: hidden;
}

.threecol .colmid {
  right:33%;
}
.threecol .colleft {
  right:34%;
}
.threecol .col1 {
  width:32%;
  left:100%;
}
.threecol .col2 {
  width:31%;
  left:36%;
}
.threecol .col3 {
  width:31%;
  left:70%;
}

.col {
  overflow-y: auto;
  height: 450px;
  text-align: left;
}

div.top {
  position: absolute;
  display:inline-block;
  background-color: #343333;
  border-radius: 5px;
  border: 2px solid #696060;
  padding: 5px;
  margin-top: 15px;

  font-weight: bold;
  font-size: 16px;
  color: #A9A3A3;
}

div.header {
  background-color: #EDF5FC;
  border-radius: 5px;
  border: 2px solid #BFCACF;
  padding: 10px;
  height: 11em;
}

div.headmain {
  position:relative;
  width:50%;
  float:left;
}

div.headerdetails {
  position:relative;
  width:49%;
  float:right;
}

div.block {
  margin-left: 4px;
}

div.terr {
  border-radius: 2px;
  border: 1px solid #A9A3A3;
  padding: 2px;
  margin: 2px;
}

div.resource {
  border-radius: 2px;
  border: 1px solid #A9A3A3;
  margin-top: 2px;
  padding: 2px;
}

.clickme {
  cursor: pointer;
  background: #E8E8E8;
  background: -moz-linear-gradient(left, #E8E8E8, #FFFFFF);
  background: -webkit-gradient(linear, left top, right top, from(#E8E8E8), to(#FFFFFF));
  filter: progid:DXImageTransform.Microsoft.Gradient(
  StartColorStr='#E8E8E8', EndColorStr='#FFFFFF', GradientType=1);
}

.clickmeover {
  cursor: pointer;
  background: #D0DCF3;
  background: -moz-linear-gradient(left, #D0DCF3, #FFFFFF);
  background: -webkit-gradient(linear, left top, right top, from(#D0DCF3), to(#FFFFFF));
  filter: progid:DXImageTransform.Microsoft.Gradient(
  StartColorStr='#D0DCF3', EndColorStr='#FFFFFF', GradientType=1);
}

.track {
  margin-left: 2px;
}

.mid {
  border-radius: 5px;
  border: 2px solid #BFCACF;
  padding: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  height: 300px;
}

.togglebox {
  border-radius: 2px;
  padding: 2px;
}

.sum {
  margin: 2px;
}

.scrollable {
  overflow-y: auto;
  margin-left: 5px;
  height: 130px;
  width: 100px;
}

.filters {
  float:left;
  margin-right: 20px;
}

.product {
  overflow-y: auto;
  height: 200px;
  font-family: Courier;
}

.release {
  border-radius: 2px;
  border: 1px solid #FFFFFF;
  margin: 2px;
  padding: 4px;
}

#copyright {
  clear:both;
  text-align: center;
  font-size: 10px;
}

.copyright {
  font-weight: normal;
  font-style: italic;
}


#filedrag
{
    display: none;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
    margin: 1em 0;
    color: #555;
    border: 2px dashed #555;
    border-radius: 7px;
    cursor: default;
}
#filedrag.hover
{
    color: #f00;
    border-color: #f00;
    border-style: solid;
    box-shadow: inset 0 3px 4px #888;
}
#error
{
  clear:both;
  border: 2px dotted #e11;
  background-color: #ffd4d4;
  font-weight: bold;
  display:table-cell;
  empty-cells:hide;
  padding: 8px;
}

#fileAlt {
  background-color: #EDF5FC;
  border-radius: 5px;
  border: 2px solid #BFCACF;
  padding: 3px;
  margin-top: 0;
  text-align: center;
  display: none;
  cursor: pointer;
}
