<settings>

  <localRepository>/home/kranius/.m2/repository</localRepository>

  <servers>
    <server>
      <id>dgpDeploymentRepo</id>
      <username>admin</username>
      <password>password</password>
      <filePermissions>664</filePermissions>
      <directoryPermissions>775</directoryPermissions>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>context</id>
      <properties>
        <hostName>gu.daniel</hostName>
      </properties>
    </profile>
    <profile>
      <id>paris</id>
    </profile>

    <profile>
      <id>nexus</id>
      <repositories>
        <repository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>central</id>
          <url>http://central</url>
          <releases><enabled>true</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>

  </profiles>

  <activeProfiles>
    <activeProfile>nexus</activeProfile>
    <activeProfile>paris</activeProfile>
  </activeProfiles>

  <mirrors>
    <mirror>
      <id>dgp-repository</id>
      <name>Digiplug Nexus Repository</name>
      <url>http://nexus.int.digiplug.net/nexus/content/groups/public-all</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
</settings>
